@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --calc-bg-color: rgba(255, 255, 255, 0.3);
  --calc-border-radius: 24px;
  --standard-padding: 16px;
  --display-flex: 1;
  --keys-flex: 3;
  --right-keys-flex: 1;
  --left-keys-flex: 3;
  --font-size-standard: 16px;
  --font-size-small: 14px;
  --font-size-x-small: 12px;
  --font-size-large: 18px;
  --font-size-x-large: 20px;
  --font-size-expression: 32px;
  --font-size-result: 36px;
  --font-size-btns: 30px;
  --grey: #bdc3c7;
  --gray-dark: #6c7a89;
  --creame: #f2f1ef;
  --orange: #ff4200;
}

body {
  width: 100%;
  height: 100vh;
  /* background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  font-family: 'Montserrat', sans-serif;
  /* background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%); */
  /* background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); */
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

button {
  outline: none;
  border: none;
  background: transparent;
  color: var(--creame);
  font-size: var(--font-size-btns);
}

button:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.parent-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  /* To simulate 16.9 aspect */
  min-height: 640px;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: var(--calc-bg-color);
  border-radius: var(--calc-border-radius);
  box-shadow: 0 12px 16px 0 rgba(30, 30, 30, 0.3), 0 16px 20px 0 rgba(30, 30, 30, 0.4);

}

.display {
  flex: var(--display-flex);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: var(--standard-padding);
  background: rgba(0, 0, 0, 0.6);
}

.display .expression {
  text-align: end;
  color: var(--grey);
  font-size: var(--font-size-expression);
}

.display .result {
  text-align: end;
  color: var(--creame);
  font-size: var(--font-size-result);
}

.keys {
  flex: var(--keys-flex);
  display: flex;
  flex-wrap: nowrap;
}

.left-3-4 {
  flex: var(--left-keys-flex);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1px;
  row-gap: 1px;
}

.right-1-4 {
  flex: var(--right-keys-flex);
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  background: rgba(0, 0, 0, 0.25)
}

#btn-reset {
  color: var(--orange);
  font-weight: 700;
}

#btn-clear {
  color: var(--orange);
  font-weight: 700;
}

#btn-equal {
  background: var(--orange);
}